p{
    background-color:rgb(200, 49, 49);
}

.nav{
    background-color:blue;
   
}

.hero{
    background-color:purple;
   
}

.work-sample{
    background-color:orange;
    
}

.footer{
    background-color:burlywood;
    
}